@import url('https://fonts.googleapis.com/css?family=Roboto:400,600&display=swap');
#signup-container {
  margin: 0;
    display: flex;
     background-color: #008F8F;
     width: 100vw;
     height: 100vh;
     padding: 0;
     overflow:hidden;
  }
  
  .background-section {
    flex: 1;
    background: #008F8F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    height: 100%;
    padding: 0
  }

  .title-header{
    align-items: center;
    margin-top: 10%;
  }
  
  #login-section {
    flex: 1.5;
    background-color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 100vh;

  }
  .label{
    padding-bottom: 10px;

  }
  
  .login-section {
    margin-bottom: 10px;
    height: 80vh;
    justify-content: center;
  }
  
  .input-container {
    color: black;
    font-size: 12px;
    padding: 5px;
    position: relative;
    width: 100%
  }
  
  .password-input {
    display: flex;
    align-items: center;
    width: 100%
  }
  
  .eye-icon-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
  }
  
  .input {
   width: calc(100% - 20px);
    /* padding: 20px; */
    border: 1px solid #008F8F;
    border-radius: 5px;
    background-color: white;
    /* margin-top: 10px; */
  }

  #join{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
  }
  
  #button {
    padding: 10px 20px;
    background-color: #008F8F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 12rem;
   justify-items: center;
   align-items: center;
  }
  
  button:hover {
    background-color:rgba(0, 128, 0, 0.948);
  }

  #title {
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: inline-block;
    padding: 0
  }

#btn {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70px;
    display: flex;
}
button {
    height: 80%;
    font-size: 15px;
}