.log-container {
    flex: 1;
    background:#008F8F;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:100vh;
    flex-shrink: 0;
    padding-top: 20px;
}
#img-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}
.log-section{
    margin-top: 50px;
    height: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background: white;
    width: 588px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}
.label{
    color: #000;
    font-family: Roboto;
    font-size: 12px;
}
input {
    width:90%;
padding: 10px;
border-radius: 10px;
border: 1px solid #000;
margin-bottom: 15px;
height: 30px;
}
.inpt-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#log-btn {
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
    display: flex
}

.input-section {
    margin-top: 70px;
    width: 100%
}

#button {
    padding: 10px 20px;
    background-color: #008F8F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 12rem;
   justify-items: center;
   align-items: center;
  }

  #button:hover {
    background-color:rgba(0, 128, 0, 0.948);
  }
  .input-container {
    color: black;
    font-size: 12px;
    padding: 5px;
    position: relative;
    width: 100%
  }
  
  .password-input {
    display: flex;
    align-items: center;
    width: 100%
  }
  
  .eye-icon-container {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
  }
  
  .input {
   width: calc(100% - 20px);
    /* padding: 20px; */
    border: 1px solid #008F8F;
    border-radius: 5px;
    background-color: white;
    /* margin-top: 10px; */
  }
  /* Common input styles */
.common-input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    margin-bottom: 15px;
    height: 30px;
    font-size: 12px;
    color: black;
    position: relative;
  }
  